{% extends "./base.html" %}

{% load nota_extras %}

{% block title %}
    Gestion de Notas
{% endblock %}

{% block body %} 
    <div class="row">

        <div class = 'col-md-6 offset-3 py-3'>

            <div class="table-responsive py-2">
                <h1>Mis Notas: </h1>
                <table class = "table table-striped">
                    <thead> 
                        <tr>
                            <th>Titulo</th>
                            <th>Contenido</th>
                            <th colspan = "2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for n in notas%}
                        <tr>
                            <td>{{n.titulo}}</td>
                            <td>{{n.contenido|convertir_markdown|safe}}</td>
                            <td><a href="edicionNota/{{n.idNota}}" class="btn btn-info"> Editar</a></td>
                            <td><a href="eliminarNota/{{n.idNota}}" class="btn btn-danger"> Eliminar</a></td>
                        </tr>
                        {%endfor%}
                    </tbody>
                    <a href="creacionNota/" class="btn btn-primary">Crear Nueva Nota </a>
                </table>
                <div>

                    
                </div>
    
            </div>

        </div>

    </div>
{% endblock %}