{% extends "./baseAuth.html" %}

{% block body %}
<div class="row">
    
        
        <div class="col-md-4 offset-md-4">
            <div class="card-body"> 
                <h1>REGISTRO</h1>
                <form method="POST">{% csrf_token %}
                    <div class="form-group py-3">
                        <input type="text" name="username" 
                        value="{{nota.titulo}}"
                        class="form-control" placeholder="Nombre de Usuario" 
                        required>
                    </div>
                    <div class="form-group py-3">
                        <input type="password" name="password1" 
                        class="form-control" placeholder="Contraseña" 
                        >
                        
                    </div>
                    <div class="form-group py-3">
                        <input type="password" name="password2" 
                        class="form-control" placeholder="Confirmar Contraseña" 
                        >
                        
                    </div>
                    <div class="form-group">
                       <button class="btn btn-success" type="submit" id="submit">Registrarse</button>
                    </div>
                    <a href="/login">Log In</a>
                </form>
            </div>
        </div>
    
</div>
{% endblock %}